<h1>Edit activity</h1>
<div class="col-md-6">
  <%= form_for @activity do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
  <%= f.label :date %><br/>
  <%= f.date_select :date, :class => "form-control" %><br/>
  <%= f.label :start %><br/>
  <%= f.time_select :start, :class => "form-control" %><br/>
  <%= f.label :end %><br/>
  <%= f.time_select  :end, :class => "form-control" %><br/>
  <%= f.label :location %>
  (GPS Coordinates)
  <%= f.number_field :location, :class => "form-control" %>
  <div class="padding-top">
    <%= f.submit "Edit", :class => "btn btn-info"  %>
  </div>
  <% end %>
</div>
