<h2>Edit
  <%= resource_name.to_s.humanize %></h2>
<div class="col-md-6 form-horizontal">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-3 control-label"><%= f.label :name %></div>
    <div class="col-md-9"><%= f.text_field :name, autofocus: true, :class => "form-control" %></div>
  </div>
  <div class="row">
    <div class="col-md-3 control-label"><%= f.label :date_of_birth %></div>
    <div class="col-md-9">
      <%= f.date_select :date_of_birth, :start_year=>1900, :end_year=>2016, :class => "form-control " %></div>
  </div>
  <div class="row">
    <div class="col-md-3 control-label"><%= f.label :address %></div>
    <div class="col-md-9">
      <%= f.text_field :address, autofocus: true, :class => "form-control" %></div>
  </div>
  <div class="row">
    <div class="col-md-3 control-label"><%= f.label :phone %></div>
    <div class="col-md-9">
      <%= f.text_field :phone, autofocus: true, :class => "form-control" %></div>
  </div>
  <div class="row">
    <div class="col-md-3 control-label"><%= f.label :weight %></div>
    <div class="col-md-9">
      <%= f.number_field :weight, autofocus: true, :class => "form-control" %></div>
  </div>
  <div class="row">
    <div class="col-md-3 control-label"><%= f.label :height %></div>
    <div class="col-md-9">
      <%= f.number_field :height, autofocus: true, :class => "form-control" %></div>
  </div>
</div>
<div class="col-md-6 form-horizontal">
  <div class="row">
    <div class="col-md-3 control-label"><%= f.label :email %></div>
    <div class="col-md-9">
      <%= f.email_field :email, autofocus: true, :class => "form-control" %></div>
    <hr/>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for:
      <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-3 control-label"><%= f.label :password %>
      <i>(leave blank if you don't want to change it)</i>
    </div>
    <div class="col-md-9">
      <%= f.password_field :password, autocomplete: "off", :class => "form-control"  %></div>
  </div>
  <div class="row">
    <div class="col-md-3 control-label">
      <%= f.label :password_confirmation %></div>
    <div class="col-md-9">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 control-label">
      <%= f.label :current_password %>
      <i>(current password to confirm changes)</i>
    </div>
    <div class="col-md-9">
      <%= f.password_field :current_password, autocomplete: "off", :class => "form-control"  %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="padding-top">
  <%= f.submit "Update", :class => "btn btn-block btn-success"  %>
</div>
  <% end %>
<div class="clearfix"></div>
<hr/>
<div class="col-md-6">
  <h3>Cancel my account</h3>
  <p>Unhappy?
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger"  %></p>
</div>
<div class="clearfix"></div>
<hr/>
</div>
